<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{admin/dashboard::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Admin Profile</title>
<style>
.profile-image {
	width: 200px; /* Fixed width */
	height: 200px; /* Fixed height */

	
}
</style>
</head>
<body>
	<section style="margin-top: 240px;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card text-center">
						<div class="card-header text-center">
							<div
								style="width: 400px; height: 400px; overflow: hidden; border-radius: 50%;"
								class="text-center">
								<img th:src="@{'/img/profile_img/' + ${customer.file}}"
									class="profile-image img-fluid" />
							</div>



							<th:block th:if="${session.success}">
								<p th:text="${session.success}"></p>
							</th:block>
							<th:block th:if="${session.error}">
								<p th:text="${session.error}"></p>
							</th:block>

							<th:block
								th:text="${@removeSessionUtils.removeSessionAttribute()}">
							</th:block>
						</div>
						<hr>
						<div class="card-body text-center " style="font-size: 20px;">
							<p>
								<strong>Name:</strong><span th:text="${customer.name}"></span>
							</p>
							<p>
								<strong>Address:</strong> <span
									th:utext="${customer.state} + ', ' + ${customer.district} + ', ' + ${customer.muncipility} + ', ' + ${customer.ward} + ', ' + ${customer.tole}"></span>
							</p>

							<p>
								<strong>Number:</strong><span th:text="${customer.mnumber}"></span>
							</p>
							<p>
								<strong>Email:</strong><span th:text="${customer.email}"></span>
							</p>

						</div>
						<a th:href="@{/admin/EditProfile/{id}(id=${customer.id})}"
							class="btn btn-success" style="font-size: 20px;">Edit profile</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>