<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:fragment="layout(content)">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<!--  Bootstrap cdn -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--  custom css -->
<link href="/css/style.css" rel="stylesheet" />

<!-- Owl carousel cdn -->

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<title>Dashboard</title>
</head>

<body>
	<div class="d-flex" id="wrapper">

		<div class="bg-white" id="sidebar-wrapper">
			<div
				class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
				<a href="#"> <img src="/img/logo.jpg" alt="Logo"
					class="img-fluid logo">
				</a>MobileMart
			</div>

			<div class="list-group list-group-flush my-3">
				<a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text active"><i
					class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a href="category"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
					<i class="fa-solid fa-square-plus me-2"></i>Category
				</a> <a href="addProduct"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
					class="fa-solid fa-square-plus me-2"></i>Add Product</a>
				<div class="dropdown">
					<a href="#"
						class="list-group-item list-group-item-action bg-transparent second-text fw-bold dropdown-toggle"
						id="reportDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> <i class="fas fa-paperclip me-2"></i>Reports
					</a>
					<ul class="dropdown-menu" aria-labelledby="reportDropdown">
						<li><a class="dropdown-item" href="orderReport">Orders</a></li>
						<li><a class="dropdown-item" href="generateBill">Bill</a></li>
						<li><a class="dropdown-item" href="Product">Products</a></li>
					</ul>
				</div>
				<a href="viewProducts"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
					<i class="fa-solid fa-list-ul me-2"></i>View Products
				</a>  <a href="viewCustomers"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
					<i class="fa-solid fa-circle-user "></i> Customers
				</a> <a href="addAdmin"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
					<i class="fa-solid fa-circle-user "></i> Add Admin
				</a> <a href="showorders"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
					<i class="fa-regular fa-rectangle-list "></i> Orders
				</a> <a href="viewReviews"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
					<i class="fa-solid fa-star"></i> Reviews
				</a> <a href="/logout"
					class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
					class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3"
						id="menu-toggle"></i>
					<h2 class="fs-2 m-0">Dashboard</h2>
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle second-text fw-bold" href="#"
							id="navbarDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false"> <i class="fas fa-user me-2"></i>
								[[${loggedUser.name}]]
						</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item"
									th:href="@{/admin/viewProfile/{id}(id=${loggedUser.id})}">View
										Profile</a></li>
								<li><a class="dropdown-item"
									th:href="@{/admin/changePassword/{id}(id=${loggedUser.id})}">Change
										password</a></li>
							</ul></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid px-4">
				<div class="row g-3 my-2">
					<div class="col-md-3">
						<div
							class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">[[${totalProducts}]]</h3>
								<p class="fs-5">Products</p>
							</div>
							<i
								class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div
							class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">[[${totalSales}]]</h3>
								<p class="fs-5">Sales</p>
							</div>
							<i
								class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div
							class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">[[${deliveredProducts}]]</h3>
								<p class="fs-5">Delivery</p>
							</div>
							<i
								class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div
							class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">[[${NumberOfCustomers}]]</h3>
								<p class="fs-5">Customer</p>
							</div>
							<i
								class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-5" th:replace="${content}"></div>


		</div>
	</div>
	<!-- Bootstrap js -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>


	<!-- jquery cdn -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Owl Carousel cdn -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<!-- custom js -->
	<script src="/js/script.js" type="text/javascript"></script>

</body>

</html>