<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{admin/dashboard::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Edit Order</title>


<style>
</style>
</head>
<body>
	<section style="margin-top: 100px;"
		th:if="${order!=null || !order.isEmpty()}">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card">
						<div class="card-header text-center bg-danger text-white">
							<h3>Edit Order</h3>
							<th:block th:if="${session.success}">
								<p th:text="${session.success}"></p>
							</th:block>
							<th:block th:if="${session.error}">
								<p th:text="${session.error}"></p>
							</th:block>

							<th:block
								th:text="${@removeSessionUtils.removeSessionAttribute()}">
							</th:block>
						</div>
						<div class="card-body text-center">



							<form th:action="@{/admin/updateOrder/{id}(id=${order.id})}"
								method="post" th:object="${order}">
								<input type="hidden" th:value="${order.invoiceNumber}"
									th:field="*{invoiceNumber}">
								<div class="mb-3">
									<label class="form-label" for="name">Customer name</label> <input
										type="text" th:value="${order.customer.name}" id="name"
										autocomplete="name" th:field="*{customer.name}"
										class="form-control" name="name" required> <span
										id="name-error" class="error"></span>
								</div>


								<div class="row mb-2">
									<div class="col">
										<div class="mb-2">
											<label class="form-label">State</label> <select id="state"
												name="state" class="form-control" required
												th:data-district="${order.district}">
												<option value="" disabled>Select State</option>
												<option value="Province No. 1"
													th:selected="${order.state=='Province No. 1'}">Province
													No. 1</option>
												<option value="Province No. 2"
													th:selected="${order.state=='Province No. 2'}">Province
													No. 2</option>
												<option value="Bagmati Province"
													th:selected="${order.state=='Bagmati Province'}">Bagmati
													Province</option>
												<option value="Gandaki Province"
													th:selected="${order.state=='Gandaki Province'}">Gandaki
													Province</option>
												<option value="Lumbini Province"
													th:selected="${order.state=='Lumbini Province'}">Lumbini
													Province</option>
												<option value="Karnali Province"
													th:selected="${order.state=='Karnali Province'}">Karnali
													Province</option>
												<option value="Sudurpashchim Province"
													th:selected="${order.state=='Sudurpashchim Province'}">Sudurpashchim
													Province</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="mb-2">
											<label class="form-label">District</label> <select
												id="district" name="district" class="form-control" required>
												<option value="" selected disabled>Select District</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-6">
										<input type="text" id="muncipility" name="muncipility"
											class="form-control" th:value="${order.customer.muncipility}"
											th:field="*{muncipility}" placeholder="Muncipility" required>
										<span id="municipolity-error" class="error"></span>
									</div>
									<div class="col-md-6">
										<input type="number" id="ward" name="ward"
											class="form-control" placeholder="Ward"
											th:value="${order.customer.ward}" th:field="*{ward}" required>
										<span id="ward-error" class="error"></span>
									</div>
								</div>


								<div class="row">
									<div class="col-md-6">
										<div class="mb-3">
											<input type="text" id="tole" name="tole" class="form-control"
												placeholder="Tole" th:value="${order.customer.tole}"
												th:field="*{tole}" required> <span id="tole-error"
												class="error"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="mb-3">
											<label for="paid">Paid:</label> <input type="radio" id="paid"
												name="isPaid" value="true"
												th:checked="${order.isPaid == true}" /> Yes <input
												type="radio" id="notPaid" name="isPaid" value="false"
												th:checked="${order.isPaid == false}" /> No
										</div>
									</div>

								</div>
								<div class="mb-3">
									<label class="form-label" for="date">Placed Date</label> <input
										type="text" th:value="${order.placedDate}" id="date"
										autocomplete="date" th:field="*{placedDate}"
										class="form-control" required>
								</div>
								<div class="mb-3">
									<label class="form-label" for="email">Customer Email</label> <input
										type="email" th:value="${order.customer.email}" id="email"
										autocomplete="email" th:field="*{customer.email}"
										class="form-control"> <span id="email-error"
										class="error"></span>
								</div>
								<div class="mb-3">
									<label class="form-label" for="status">Status</label> <select
										class="form-select" th:field="*{status}" id="status">
										<option value="Shipped"
											th:selected="${order.status=='Shipped'}">Shipped</option>
										<option value="Delivered"
											th:selected="${order.status=='Delivered'}">Delivered</option>
										<option value="Submitted"
											th:selected="${order.status=='Submitted'}">Submitted</option>
										<option value="Cancelled"
											th:selected="${order.status=='Cancelled'}">Cancelled</option>

									</select>


								</div>
								<div class="form-group">
									<label for="payment">Payment Method:</label> <select
										class="form-control" id="payment" th:field="*{paymentMethod}"
										required>
										<option value="esewa"
											th:selected="${order.paymentMethod=='esewa'}">eSewa</option>
										<option value="cod"
											th:selected="${order.paymentMethod=='cod'}">Cash on
											Delivery</option>
									</select>
								</div>
								<div class="mb-3">
									<h3 class="text-center ">Products</h3>
									<table class="table table-success table-striped">
										<thead>
											<tr>
												<th scope="col">S.N.</th>
												<th scope="col">Product Name</th>
												<th scope="col">Quantity</th>
												<th scope="col">Price</th>
												<th scope="col">Delete</th>



											</tr>
										</thead>
										<tbody>
											<tr th:each="item,stat:${items}">

												<td th:text="${stat.index+1}"></td>
												<td th:text="${item.product.name}"></td>
												<td>

													<button type="button"
														class="btn btn-danger btn-sm delete-btn"
														th:data-item-id="${item.id}"
														th:data-order-id="${order.id}" title="add">
														<i class="fa fa-plus" aria-hidden="true"></i>
													</button> <span th:text=" '['+${item.quantity}+']'"
													style="font-size: 20px;"></span>
													<button type="button"
														class="btn btn-success btn-sm border-none delete-btn"
														th:data-item-id="${item.id}"
														th:data-order-id="${order.id}" title="subtract">
														<i class="fa fa-minus" aria-hidden="true"></i>
													</button> <input type="hidden"
													th:field="*{orderItems[__${stat.index}__].id}"> <input
													type="hidden"
													th:field="*{orderItems[__${stat.index}__].quantity}"
													class="form-control"> <input type="hidden"
													th:field="*{orderItems[__${stat.index}__].product}"
													class="form.control"> <input type="hidden"
													th:field="*{orderItems[__${stat.index}__].order}"
													class="form.control"> <input type="hidden"
													th:field="*{orderItems[__${stat.index}__].price}"
													class="form.control">
												</td>

												<td th:text="${item.price}"></td>

												<td><button type="button"
														class="btn btn-danger btn-sm delete-btn"
														th:data-item-id="${item.id}"
														th:data-order-id="${order.id}" title="Delete">
														<i class="fa-solid fa-xmark"></i>
													</button></td>





											</tr>


										</tbody>
									</table>

								</div>

								<button type="submit" class="btn btn-danger">Save
									Changes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section th:unless="${order!=null || !order.isEmpty()}">
		<div class="text-danger text-center">The order is no longer
			available!</div>
	</section>


</body>





</html>



