<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Checkout</title>
<style>
</style>
</head>
<body>
	<section class="section" th:if="${cart!=null}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="card">
						<div class="card-header text-center bg-primary text-white">
							<h1>Checkout</h1>
						</div>
						<div class="card-body text-center">
							<form
								th:action="@{'/user/placeOrder/'+${customer.id}+'/'+${cart.id}}"
								method="post">
								<input type="hidden" value="false" name="isPaid" />
								<div class="form-group">
									<label for="customerName">Full Name:</label> <input type="text"
										id="customerName" name="customerName" readonly
										th:value="${customer.name}" class="form-control" required>

								</div>
								<h3>Shipping address</h3>
								<div class="form-group">
									<div class="row mb-2">
										<div class="col">
											<div class="mb-2">
												<label class="form-label">State</label> <select id="state"
													name="state" class="form-control" required
													th:data-district="${customer.district}">
													<option value="" disabled>Select State</option>
													<option value="Province No. 1"
														th:selected="${customer.state=='Province No. 1'}">Province
														No. 1</option>
													<option value="Province No. 2"
														th:selected="${customer.state=='Province No. 2'}">Province
														No. 2</option>
													<option value="Bagmati Province"
														th:selected="${customer.state=='Bagmati Province'}">Bagmati
														Province</option>
													<option value="Gandaki Province"
														th:selected="${customer.state=='Gandaki Province'}">Gandaki
														Province</option>
													<option value="Lumbini Province"
														th:selected="${customer.state=='Lumbini Province'}">Lumbini
														Province</option>
													<option value="Karnali Province"
														th:selected="${customer.state=='Karnali Province'}">Karnali
														Province</option>
													<option value="Sudurpaschim Province"
														th:selected="${customer.state=='Sudurpaschim Province'}">Sudurpashchim
														Province</option>
												</select>
											</div>
										</div>
										<div class="col">
											<div class="mb-2">
												<label class="form-label">District</label> <select
													id="district" name="district" class="form-control" required>
													<option value="" selected disabled>Select District</option>
												</select>
											</div>
										</div>
									</div>
									<div class="mb-2">
										<label class="form-label">Municipality</label> <input
											type="text" name="muncipility" id="muncipility"
											class="form-control" required
											th:value="${customer.muncipility}"> <span
											id="muncipility-error" class="error"></span>
									</div>
									<div class="row mb-2">
										<div class="col">
											<div class="mb-2">
												<label class="form-label">Ward-no</label> <input id="ward"
													type="number" name="ward" class="form-control"
													th:value="${customer.ward}" required> <span
													id="ward-error" class="error"></span>
											</div>
										</div>
										<div class="col">
											<div class="mb-2">
												<label class="form-label">Tole</label> <input type="text"
													id="tole" name="tole" class="form-control" required
													th:value="${customer.tole}"> <span id="tole-error"
													class="error"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="paymentMethod">Payment Method:</label> <select
										id="paymentMethod" name="paymentMethod" class="form-control"
										required>
										<option value="esewa">eSewa</option>
										<option value="cod">Cash on Delivery</option>
									</select>
								</div>
								<div class="mt-3">
									<button type="submit" class="btn btn-success w-100">Place
										Order</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section th:unless="${cart!=null}" class="section">
		<div class="text-center">
			<h1 class="text-success">The verification email has been sent to
				your email!</h1>
		</div>

	</section>
</body>
</html>
