<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Order list</title>
<body>
	<section style="margin-top: 100px;"
		th:if="${orders != null && !orders.isEmpty()}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header bg-success text-white text-center">
							<h3>Order list</h3>
						</div>
						<div class="card-body">

							<table class="table table-success table-striped">
								<thead>
									<tr>
										<th scope="col">S.N</th>
										<th scope="col">Customer Name</th>
										<th scope="col">Shipping Address</th>
										<th scope="col">Total Amount</th>
										<th scope="col">Status</th>
										<th scope="col">Placed Date</th>
										<th>Action</th>


									</tr>
								</thead>
								<tbody>
									<tr th:each="order, stat : ${orders}">

										<td>[[${stat.index + 1}]]</td>
										<td>[[${order.customer.name}]]</td>
										<td>[[${order.shippingCountry}+','+${order.shippingState}+','+${order.shippingDistrict}+','+${order.shippingMuncipility}]]</td>
										<td>[[${order.totalPrice}]]</td>
										<td>[[${order.status}]]</td>
										<td>[[${order.placedDate}]]</td>



										<td>
										<a class="btn btn-success" th:href="@{/user/editorder/{id}(id=${order.id})}">Edit</a>
										<a class="btn btn-success" th:href="@{/user/cancelOrder/{orderId}(orderId=${order.id})}">Cancel</a>
										</td>
									</tr>

								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section style="margin-top: 100px;"
		th:if="${orders == null || orders.isEmpty()}">
		<div class="text-danger text-center bg-success">
			<h3>There are no orders</h3>
		</div>
	</section>

</body>
</html>
