<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>User Profile</title>
</head>
<body>
	<section style="margin-top: 240px;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
                            <h1 class="text-center bg-info text-white" style="border-radius:10px;">User Details</h1>
							
								<div class="d-flex justify-content-center align-items-center"
									>

									<img th:src="@{'/img/profile_img/'+${url}}" class="img-fluid"
										style="height: 250px; width: 250px; border-radius: 50%;" />
								</div>
						
							

							<th:block th:if="${session.success}">
								<p th:text="${session.success}"></p>
							</th:block>
							<th:block th:if="${session.error}">
								<p th:text="${session.error}"></p>
							</th:block>

							<th:block
								th:text="${@removeSessionUtils.removeSessionAttribute()}">
							</th:block>
						</div>
						<hr>
						<div class="card-body text-center " style="font-size: 20px;">
							<p>
								<strong>Name:</strong><span th:text="${customer.name}"></span>
							</p>
							<p>
								<strong>Address:</strong> <span
									th:utext="${customer.state} + ', ' + ${customer.district} + ', ' + ${customer.muncipility} + ', ' + ${customer.ward} + ', ' + ${customer.tole}"></span>
							</p>

							<p>
								<strong>Number:</strong><span th:text="${customer.mnumber}"></span>
							</p>
							<p>
								<strong>Email:</strong><span th:text="${customer.email}"></span>
							</p>

						</div>
						<a th:href="@{/user/EditProfile/{id}(id=${customer.id})}"
							class="btn btn-success" style="font-size: 20px;">Edit profile</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>