<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>About us</title>
<style>



</style>


</head>
<body style="background-color:red;">
	<section style="margin-top: 200px;">
		
		<div class=" container-fluid text-center">

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<div class="card">
								<div class="card-header bg-info text-white">
									<h3>About Us</h3>
								</div>
								<div class="card-body bg-secondary text-white fs-1.8">
									<p>Welcome to MobileMart, your ultimate destination for
										smartphones! Founded in [Year], we specialize in offering the
										latest and greatest in mobile technology, bringing you the
										best devices to keep you connected.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<div class="card-header bg-info text-white">
									<h3>Our Mission</h3>
								</div>
								<div class="card-body bg-secondary text-white fs-1.8">
									<p>We offer a diverse range of smartphones from leading
										brands, ensuring you have access to the latest models,
										features, and innovations. Whether you're a tech enthusiast
										looking for cutting-edge features or someone seeking a
										reliable device for everyday use, MobileMart has something for
										everyone.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<div class="card-header bg-info text-white">
									<h3>Customer Commitment</h3>
								</div>
								<div class="card-body bg-secondary text-white fs-1.8">
									<p>Your satisfaction is our priority. Our expert team is
										dedicated to providing personalized support and guidance,
										helping you choose the perfect smartphone to meet your needs.
										We’re here to answer your questions and make your shopping
										experience as smooth as possible.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<div class="card-header bg-info text-white">
									<h3>Join Our Community</h3>
								</div>
								<div class="card-body bg-secondary text-white fs-1.8">
									<p>At MobileMart, we’re passionate about smartphones and
										the role they play in our lives. Stay connected with us for
										the latest updates, exclusive promotions, and tips on getting
										the most out of your device.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer bg-primary text-white fs-2">
					<p class="text-center">Thank you for choosing MobileMart! We
						look forward to helping you find your next smartphone.</p>
				</div>
			</div>
		</div>

	</section>

</body>
</html>