<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Login page</title>



</head>
<body>
	<section style="margin-top: 140px; margin-bottom:30px;">

		<div class="container ">
			<div class="row ">
					<div class="col-md-6 offset-md-3">
					<div class="card" style="box-shadow:4px 4px 12px white;border-radius:10px;background-image: linear-gradient(
    to right top,
    rgba(5, 25, 55, 0.9),
    rgba(0, 77, 122, 0.9),
    rgba(0, 135, 147, 0.9),
    rgba(0, 191, 114, 0.9),
    rgba(168, 235, 18, 0.9)
  );" >
						<div class="card-header bg-info text-white text-center"
							>
							<h1>LOGIN FORM</h1>
							<th:block th:if="${param.error}">
								<div class=" text-center text-white"
									th:classappend="${param.error}?'d-block':'d-none'">
									<h2 id="error"
										th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></h2>
								</div>
							</th:block>
							<th:block th:if="${param.logout}">
								<div class="text-white text-center">
									<h2>You have been successfully logged out!</h2>


								</div>
							</th:block>
							<h2 id="unlockMessage"></h2>
							<th:block th:if="${session.success}">
								<div class="text-success text-center">
									<h2 th:text="${session.success}"></h2>
								</div>
							</th:block>
							<th:block th:if="${session.error}">
								<div class="text-success text-center">
									<h2 th:text="${session.error}"></h2>
								</div>
							</th:block>

							<th:block
								th:text="${@removeSessionUtils.removeSessionAttribute()}">
							</th:block>
						</div>

						<div class="row">


						
								<div class="card-body text-center">

									<form action="authenticate" method="post">

										<div class="text-center">

											<span class="h1 fw-bold mb-0 text-center"><img
												src="img/logo.jpg"
												class="d-inline-block align-text-top img-fluid logo"></span>
										</div>



										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="form2Example17">Email
												address</label> <input type="email" id="form2Example17"
												name="username" class="form-control form-control-lg"
												autocomplete="name" />
										</div>


										<div class="form-outline mb-4">
											<label class="form-label" for="LoginPassword">Password</label>
											<div class="input-group">
												<input type="password" id="LoginPassword"
													class="form-control form-control-lg" name="password"
													autocomplete="password" /> <span class="input-group-text"
													id="PasswordIcon"
													style="cursor: pointer; width: 3rem; text-align: center;">
													<i class="fas fa-eye-slash"></i>
												</span>

											</div>

										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox"
												id="remember-me" name="remember-me"> <label
												class="form-check-label" for="remember-me"> Remember
												me </label>
										</div>

										<div class="pt-1 mb-4">
											<button class="btn btn-dark btn-lg btn-block w-100"
												type="submit">Login</button>
										</div>
										<a href="/oauth2/authorization/google"
											class="login-with-google-btn w-100 btn btn-danger text-center">
											Sign in with Google</a><br> <a class="small text-muted"
											href="/forgotPassword">Forgot password?</a>
										<p class="mb-5 pb-lg-2" style="color: #393f81;">
											Don't have an account? <a href="register"
												style="color: #393f81;">Register here</a>
										</p>
										<a href="#!" class="small text-muted">Terms of use.</a> <a
											href="#!" class="small text-muted">Privacy policy</a>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	</section>

</body>


</html>