<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Product Page</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	rel="stylesheet">
</head>
<body>
	<section style="margin-top: 140px;">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-2">
					<div class="list-group">
						<h1>Categories</h1>
						<a th:href="@{/product}"
							th:classappend="${selectedCategory == null || selectedCategory.isEmpty() ? 'active':''}"
							class="list-group-item list-group-item-action">All</a> <a
							th:each="c:${categories}"
							th:href="@{/product(category=${c.getName()})}"
							th:classappend="${selectedCategory == c.getName() ? 'active':''}"
							class="list-group-item list-group-item-action "
							aria-current="true" th:text="${c.getName()}"></a>


					</div>
				</div>

				<!-- Products Section -->
				<div class="col-md-10">
					<div class="card">
						<div class="card-body">
							<h4 class="text-center">Products</h4>
							<div class="row">
								<div class="col-md-4 col-sm-6 mb-4"
									th:each="product:${products}">
									<div class="card">

										<div class="card-body text-center products">
											<img th:src="@{'/img/product_img/'+${product.getFile()}}"
												class="img-fluid" alt="Samsung Galaxy S10">
											<h3 th:text="${product.getName()}"></h3>
											<div class="review-rating">
												<th:block
													th:if="${@reviewServiceImpl.calculateRating(product.id)>0}">
													<span
														th:each="star : ${#numbers.sequence(1, @reviewServiceImpl.calculateRating(product.id))}">
														<i class="fas fa-star text-warning"></i>
													</span>
													<span
														th:each="emptyStar : ${#numbers.sequence(@reviewServiceImpl.calculateRating(product.id)+ 1, 5)}">
														<i class="fas fa-star text-secondary"></i>
													</span>
												</th:block>
												<th:block
													th:unless="${@reviewServiceImpl.calculateRating(product.id)>0}">

													<span th:each="emptyStar : ${#numbers.sequence( 1, 5)}">
														<i class="fas fa-star text-secondary"></i>
													</span>
												</th:block>
											</div>
											<div class="price py-2">
												<span th:text="'Rs.'+${product.getDiscountedPrice()}"></span>
												<span class="text-decoration-line-through"
													th:text="'Rs.'+${product.getPrice()}"></span> <span
													class=" bg-success"
													th:text="${product.getDiscountPercent()+'%'}">10%off</span>
											</div>
											<a th:href="@{/viewDetail/{id}(id=${product.getId()})}"
												class="btn btn-primary">View Details</a>

										</div>
									</div>


								</div>





							</div>




						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>