<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<body>
	<section class="section" style="border: none;">
		<div class="container-fluid">
			<div class="row">



				<!-- Products Section -->
				<div class="col-md-12">
					<div class="card">
						<div class="card-body bg-white">
							<h1 class="text-center">
								Search results for <span class="text-danger">'[[${keyword}]]'</span>
							</h1>
							<hr />
							<div class="row">
								<th:block th:if="${products.isEmpty()}">
									<h3 class="text-center text-warning">No Products available</h3>
								</th:block>
								<th:block th:unless="${products.isEmpty()}">
									<div class="col-md-4 col-sm-6 mb-4"
										th:each="product:${products}">
										<div class="card" style="background-color: gray;">


											<div class="card-body text-center products "
												style="box-shadow: 2px 2px 10px black; border-radius: 10px;">

												<img th:src="@{'/img/product_img/'+${product.getFile()}}"
													alt="Samsung Galaxy S10"
													style="background-color: lightgray;">
												<hr />
												<h3 th:text="${product.getName()}" class="text-white"></h3>
												<div class="review-rating">
													<th:block
														th:if="${@reviewServiceImpl.calculateRating(product.id)>0}">
														<span
															th:each="star : ${#numbers.sequence(1, @reviewServiceImpl.calculateRating(product.id))}">
															<i class="fas fa-star text-warning"></i>
														</span>
														<span
															th:each="emptyStar : ${#numbers.sequence(@reviewServiceImpl.calculateRating(product.id)+ 1, 5)}">
															<i class="fas fa-star text-secondary"></i>
														</span>
													</th:block>
													<th:block
														th:unless="${@reviewServiceImpl.calculateRating(product.id)>0}">

														<span th:each="emptyStar : ${#numbers.sequence( 1, 5)}">
															<i class="fas fa-star text-secondary"></i>
														</span>
													</th:block>
												</div>
												<div class="price py-2 text-white">
													<span th:text="'Rs.'+${product.getDiscountedPrice()}"></span>
													<span class="text-decoration-line-through"
														th:text="'Rs.'+${product.getPrice()}"></span> <span
														class=" bg-success"
														th:text="${product.getDiscountPercent()+'%'}">10%off</span>
												</div>
												<a th:href="@{/viewDetail/{id}(id=${product.getId()})}"
													class="btn btn-primary">View Details</a>

											</div>
										</div>


									</div>

								</th:block>
							</div>




						</div>
					</div>
				</div>
				<div class="row mt-2 ">

					<div class="col-md-12 ">
						<th:block th:if="${productsSize>0}">
							<nav aria-label="Page navigation example" class="text-center">
								<ul
									class="pagination d-flex justify-content-center align-items-center w-100">
									<li class="page-item"
										th:classappend="${isFirst} ? 'disabled':''"><a
										class="page-link"
										th:href="@{'/searchProduct?page='+${page-1}+'&keyword='+${keyword}}"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>

									<li th:each="i:${#numbers.sequence(1,totalPages)}"
										class="page-item" th:classappend="${page+1==i}?'active':''"><a
										class="page-link"
										th:href="@{'/searchProduct?page='+${i-1}+'&keyword='+${keyword}}">[[${i}]]</a></li>

									<li class="page-item"
										th:classappend="${isLast} ? 'disabled':''"><a
										class="page-link"
										th:href="@{'/searchProduct?page='+${page+1}+'&keyword='+${keyword}}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
					</div>
					</th:block>
				</div>

			</div>
		</div>




	</section>
</body>
</html>